$corDeFundoPrincipal: rgb(255, 255, 255);
$corDeFundoSecundaria: rgb(32, 30, 30);
$corTextoPrincipal: #fff ;
$corTextoSecundario: #000;
$corDeFundoBotaoBlue: rgb(54, 73, 230);
$corDeFundoBotaoDark: #000;